@inherits LayoutComponentBase

<DesignSystemProvider UseDefaults="true" AccentBaseColor="#AC0000">
    <Frame AccentColor="#AC0000" DarkMode="true" BackgroundColor="#3c3c3c">
        <div class="main">
            @Body
        </div>
    </Frame>
</DesignSystemProvider>