@inherits LayoutComponentBase

<DesignSystemProvider UseDefaults="true" AccentBaseColor="#AC0000" BackgroundColor="#1c1c1c">
        <div class="main">
            @Body
        </div>
</DesignSystemProvider>