@page "/"

<h2>Hello Blast UI!</h2>
<Divider></Divider>

<h3>Accordion</h3>
<Divider></Divider>

<Accordion ExpandMode="@AccordionExpandMode.Multi">
    <AccordionItem>
        <Heading>Title 1</Heading>
        <ChildContent>Item 1</ChildContent>
    </AccordionItem>
    <AccordionItem>
        <Heading>Title 2</Heading>
        <ChildContent>Item 2</ChildContent>
    </AccordionItem>
    <AccordionItem>
        <Heading>Title 3</Heading>
        <ChildContent>Item 3</ChildContent>
    </AccordionItem>
    <AccordionItem>
        <Heading>Title 4</Heading>
        <ChildContent>Item 4</ChildContent>
    </AccordionItem>
</Accordion>    

<h3>Badge</h3>
<Divider></Divider>

<p>
    <Badge>Badge 1</Badge>
    <Badge>Badge 2</Badge>
</p>

<h3>Buttons</h3>
<Divider></Divider>

<p>    
    <ButtonAction Appearance="ButtonAppearance.Lightweight">Lightweight</ButtonAction>
    <ButtonAction Appearance="ButtonAppearance.Neutral">Neutral</ButtonAction>
    <ButtonAction Appearance="ButtonAppearance.Outline">Outline</ButtonAction>
    <ButtonAction Appearance="ButtonAppearance.Accent">Primary</ButtonAction>
    <ButtonAction Appearance="ButtonAppearance.Stealth">Stealth</ButtonAction>
</p>

<h3>Anchors</h3>
<Divider></Divider>

<p>
    <Anchor Appearance="AnchorAppearance.Lightweight">Lightweight</Anchor>    
    <Anchor Appearance="AnchorAppearance.Neutral">Neutral</Anchor>    
    <Anchor Appearance="AnchorAppearance.Outline">Outline</Anchor>    
    <Anchor Appearance="AnchorAppearance.Accent">Primary</Anchor>    
    <Anchor Appearance="AnchorAppearance.Stealth">Stealth</Anchor>    
    <Anchor Appearance="AnchorAppearance.Hypertext">Hypertext</Anchor>    
</p>

<h3>Checkbox</h3>
<Divider></Divider>
<p>
    <Checkbox Checked="CheckboxValue">Check me!</Checkbox>
    <Checkbox Checked="CheckboxValue" Disabled="true">I am disabled</Checkbox>
    <Checkbox Checked="CheckboxValue" ReadOnly="true">I am readonly</Checkbox>
</p>

@code {

    bool CheckboxValue { get; set; }

}